@charset "utf-8";
#ajax-content {
	width: 95em;
	margin-top: 0px;
	padding: 0px;
	position: relative;
	background-color: #2A8593;
	max-width: 200%;
	margin-right: 0px;
	margin-left: 0px;
}
.title {
	font-style: normal;
	text-transform: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #306;
	z-index: 106;
}
.work-title {
	float: right;
	position: fixed;
	z-index: 3;
	margin-top: -200px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	right: 160px;
}
#Wrapper {
	width: 100%;
	background-color: #FFF;
	background-attachment: scroll;
	position: relative;
	background-image: url(../themes/renovatio3d/header%20img/renovatio3d.png);
	background-repeat: no-repeat;
	background-position: 0% top;
	background-attachment: fixed;
	max-width: 100%;
}
#next-pages {
	border: thin solid #F00;
	z-index: -1;
	position: relative;
}
#loader {
	z-index: 1;
	text-align: center;
}
header {
	background-color: #2a8593;
	position: fixed;
	height: 40px;
	top: 0px;
	z-index: 104;
	width: 100%;
}
nav {
	line-height: 12px;
	z-index: 100;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
}
#TopMenu {
	display: inline;
	list-style-type: none;
	margin: 3px;
	position: relative;
	width: 600px;
	z-index: 104;
	left: 1%;
}

#TopMenu li {
	display: inline;
	position: relative;
	float: left;
	margin: 1px;
	padding: 6px;
	color: #FFF;
	z-index: 100;
}

nav a, ul.nav a:visited {
	display: block;
	width: 55px;
	text-decoration: none;
	background-color: #FFFFFF;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
}
nav a:hover, ul.nav a:active, ul.nav a:focus {
	background-color: #000000;
	color: #FFFFFF;
}

.breakdown-list {
	list-style-type: none;
	padding: 8px;
	position: relative;
	margin-left: 16px;
}

a:link {
	text-decoration: none;
	color: #306;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}
.Advertisements {
	position: absolute;
	width: 183px;
	font-family: Georgia, "Times New Roman", Times, serif;
	box-shadow: 1px 1px 5px #CCCCCC;
	top: 0px;
	left: 100%;
	margin-top: 1000px;
}


aside {
	float: right;
	background-color: #FFF;
	padding-left: 12px;
	padding-bottom: 12px;
	padding-top: 12px;
}
#next {
	top: 440px;
	position: fixed;
	width: 1583px;
	height: 256px;
	z-index: 4;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.bw {
	font-size: 16px;
	color: #FFF;
	left: 7px;
	top: 560px;
	float: left;
	position: fixed;
	z-index: 2;
}

.fw {
	font-size: 16px;
	color: #FFF;
	right: 12px;
	top: 560px;
	position: fixed;
	float: right;
	z-index: 2;
}
#fbtn {
	position: fixed;
	float: left;
	left: -95px;
	
}
#bbtn {
	float: right;
	position: fixed;
	right: -95px;
}
#background {
	float: right;
	position: fixed;
	z-index: -1;
	right: -100px;
	top: 460px;
}
#foward {
	position: fixed;
	float: left;
	left: -100px;
	z-index: -1;
	top: 460px;
}
.content {
	position: relative;
	margin-top: 325px;
	width: 100%;
	background-color: #FFF;
	left: 0%;
	z-index: 100;
	max-width: 100%;
}
h1 ,h2,h3,h4,h5,h6{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2em;
	font-style: normal;
	color: #666;
	padding: 3px;
	font-weight: normal;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 9px;
}
section {
	background-color: #FFFFFF;
	padding-top: 12px;
	padding-bottom: 100px;
	padding-left: 3px;
	padding-right: 3px;
	margin-left: 0%;
	max-width: 100%;
}
img, embed, video {
	max-width: 100%;
	max-height: 35em;
}


p {
	color: #666;
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
}


#feed:a img, #feed:a{
	border:none; overflow:hidden; float:left;
}
a #feed :hover{
	border: 3 solid black;
	}

#feed:hover img {
	margin: -3px;
}
footer {
	position: absolute;
	background-color: #2a8593;
	width: 100em;
	height: 35px;
}